body{
    background-color:chartreuse;
}
h1{
    color:crimson;
}
#sketch{
    float:right;
}
canvas{
    border:8px solid white;
    border-radius:10px;
    animation-name:example;
    animation-duration: 4s;
    margin-top: 120px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow: 1px 1px 38px yellow;}
    to {box-shadow: 1px 1px 38px white;}
}

p{
    padding-top: 10px;
    font-size:25px;
}